<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login Pages</h1>
    <form action="/login" method="post">
      <div>
        <label for="email"
          >Email: <input type="email" name="email" id="email"
        /></label>
      </div>
      <div>
        <label for="password"
          >Password: <input type="password" name="password" id="password"
        /></label>
      </div>
      <button type="submit">Login</button>
    </form>
    <br />
    <button type="button">
      <a href="/register" style="text-decoration: none; color: black"
        >Register</a
      >
    </button>
  </body>
</html>
